@import './variables';

.btn {
    width: 100px;
    height: 34px;
    border-radius: 80px;
    background-color: $primary-color;
    border: none;

  transition-duration: 0.4s;
    &:hover {
        background-color: #FFE302;;
    }
    &:disabled {
        color: rgba(255, 255, 255, 0.87);
        background-color: #B4B4B4;
    }
    
}